<a><h3 class="font-semibold">Names</h3></a>
<ul>
    
    @foreach (var item in RealNamesGeneratorList)
    {
    <li>
        <a href="names/@item.Name">@item.DisplayName</a>
    </li>
    }
    
</ul>

@code {
    public List<NamesGeneratorItem> RealNamesGeneratorList = RealNamesStaticModel.RealNamesGeneratorList;
}
