<LumexNavbar Sticky="@true" Bordered="@true">
    <LumexNavbarMenuToggle Class="lg:hidden" @onclick="menuToggleClicked"/>
    <LumexNavbarBrand>
        <img src="assets/img/logo/bonsai.png" class="mr-4 h-8 w-8">
        <span class="text-xl font-bold">
            Bonsai
        </span>
    </LumexNavbarBrand>

    @* <LumexNavbarContent Class="hidden sm:flex">
        <LumexNavbarItem>
            <LumexLink Href="/examples/navbar/sticky#"
                       Color="@ThemeColor.None">
                Home
            </LumexLink>
    </LumexNavbarContent> *@

    <LumexNavbarContent Align="@Align.End">
        <LumexNavbarItem>
            <a href="https://github.com/Stefan-v-Oudenaarden/Bonsai" target="_blank">
                <img src="assets/logos/github_light.svg" class="mr-4 h-8 w-8" />
            </a>
        </LumexNavbarItem>
    </LumexNavbarContent>

    <LumexNavbarMenu Class="">
        <Sidebar />
    </LumexNavbarMenu>
</LumexNavbar>

@code {
    private void menuToggleClicked(MouseEventArgs args)
    {
        Console.WriteLine("clicke menu toggle");
    }
}
